{% extends "base_generic.html" %}

{% block content %}
<div id="HomeSection">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 col-md-8 m-auto pt-5">
                <div class="d-flex flex-column justify-content-center text-md-left">
                    <h1 class="heading highlights">
                        COLLEGE BUS MANAGEMENT SYSTEM
                        <video width="50px" height="50px" preload="none"
                               style="background: transparent  url('https://cdn-icons-png.flaticon.com/512/17357/17357387.png') 50% 50% / fit no-repeat; border-radius:50%10%50%10%/10%50%10%50%; "
                               autoplay="autoplay" loop="true" muted="muted" playsinline="">
                            <source src="https://cdn-icons-mp4.flaticon.com/512/17357/17357387.mp4" type="video/mp4">
                        </video>
                    </h1>
                    <div id="carouselExampleSlidesOnly" class="carousel slide m-3" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <h5 class="title"><em>Safe, Reliable, and Efficient Transportation Solutions.</em></h5>
                            </div>
                            <div class="carousel-item active">
                                <h5 class="title"><em>Connecting Students, Parents, and Staffs with Ease.</em></h5>
                            </div>
                            <div class="carousel-item">
                                <h5 class="title"><em>The Safe and Efficient Way to Get to Class.</em></h5>
                            </div>
                            <div class="carousel-item">
                                <h5 class="title"><em>Transportation Simplified, Safety Guaranteed.</em></h5>
                            </div>
                            <div class="carousel-item">
                                <h5 class="title"><em>The Future of Student Transportation is Here.</em></h5>
                            </div>
                            <div class="carousel-item">
                                <h5 class="title"><em>Safe, Reliable, and On Time, Every Time.</em></h5>
                            </div>
                            <div class="carousel-item">
                                <h5 class="title"><em>Transforming the Way Students Get to Class.</em></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center">
                <div class="mt-5 p-3">
                    <h5 class="title">Access Your Account</h5>
                    <div>
                        <a href="/accounts/dashboard" class="btn m-3 custom-btn btn-1 text-white">
                            User Login
                        </a>
                        <a href="/admin" class="btn m-3 custom-btn btn-1 text-white">
                            Admin Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="servicesSection">
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-3">
                <hr/>
            </div>
            <div class="col-6 pt-1 text-center">
                <h2 class="heading">What We Offer</h2>
            </div>
            <div class="col-3">
                <hr/>
            </div>
        </div>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="services-card m-auto">
                    <div class="image-box">
                        <img src="https://i.postimg.cc/rySNGPwq/georgie-cobbs-b-Kj-Hgo-Lbpo-unsplash-l-BM8-Tml-N.webp"/>
                    </div>
                    <div class="content">
                        <h3 class="title text-center p-2">Real-time Bus Tracking</h3>
                        <div class="description">
                            <p class="p-5">
                                Our system provides accurate and up-to-the-minute location tracking of college buses,
                                enabling parents, students, and administrators to monitor bus movements on an
                                interactive map.
                                This feature ensures that stakeholders are informed about bus delays, route changes, or
                                other disruptions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="services-card m-auto">
                    <div class="image-box">
                        <img src="https://i.postimg.cc/8zCdSkBC/soroush-karimi-crj-Pr-Exv-Shc-unsplash-l-BM8-Tml-N.webp"/>
                    </div>
                    <div class="content">
                        <h3 class="title text-center p-2">Mobile & Desktop Interface</h3>
                        <div class="description">
                            <p class="p-5">
                                Our user-friendly mobile and web interfaces provide easy access to our services,
                                enabling parents,
                                students, and administrators to monitor bus locations, track student information, and
                                receive important updates on-the-go.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="services-card m-auto">
                    <div class="image-box">
                        <img src="https://i.postimg.cc/ht3LPFp1/evelyn-paris-QR-v-T8-h-BZM-unsplash-l-BM8-Tml-N.webp"/>
                    </div>
                    <div class="content">
                        <h3 class="title text-center p-2">Cloud Based Management</h3>
                        <div class="description">
                            <p class="p-5">
                                Our cloud-based management system provides dynamic and real-time updates of student
                                information for enhanced safety and security during college bus commutes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-4">
                <hr/>
            </div>
            <div class="col-4 pt-1 text-center">
                <h3 class="heading">Benefits</h3>
            </div>
            <div class="col-4">
                <hr/>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <ul class="benefits">
                    <li><span class="title text-white">Parental Peace of Mind</span>: Parents can relax knowing they
                        have real-time access to their child’s bus location, instant alerts for delays or incidents, and
                        clear ETAs. This constant connectivity ensures their child’s safety and reduces daily worries.
                    </li>
                    <li><span class="title text-white">Increased Student Satisfaction</span>: Students enjoy a
                        hassle-free commute with accurate bus tracking and arrival predictions. This reliability
                        eliminates long waits and provides a smoother, stress-free journey.
                    </li>
                    <li><span class="title text-white">Enhanced Safety</span>: With features like real-time monitoring,
                        quick incident notifications, and secure communication, the system keeps students safer
                        throughout their travels, offering reassurance to parents and staff alike.
                    </li>
                    <li><span class="title text-white">Timely Arrivals</span>: By optimizing bus routes and providing
                        up-to-date ETAs, the platform helps everyone stay on schedule, ensuring that students reach
                        their destinations promptly and without hassle.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
