{% extends "base_generic.html" %}

{% block content %}
<h2 class="heading m-5">Password Reset</h2>
<form method="post" class="w-75 m-auto">
    {% csrf_token %}
    <div class="wave-group m-3">
        {{ form.email }}
        <span class="bar"></span>
        <label class="label">
            <span class="label-char" style="--index: 0">E</span>
            <span class="label-char" style="--index: 1">&nbsp;</span>
            <span class="label-char" style="--index: 2">-</span>
            <span class="label-char" style="--index: 3">&nbsp;</span>
            <span class="label-char" style="--index: 4">M</span>
            <span class="label-char" style="--index: 5">a</span>
            <span class="label-char" style="--index: 6">i</span>
            <span class="label-char" style="--index: 7">l</span>
        </label>
    </div>
    <div class="text-center">
        <button class="btn m-3 custom-btn btn-1" type="submit">Reset Password</button>
    </div>

    {% if messages %}
    {% for message in messages %}
    <p class="text-danger"> {{ message }}</p>
    {% endfor %}
    {% endif %}
</form>
{% endblock %}