{% extends "base_generic.html" %}

{% block content %}
  <h2 class="heading m-5">Set New Password</h2>
  <form method="post" class="w-75 m-auto">
    {% csrf_token %}
    <div class="wave-group m-3">
        {{ form.new_password1 }}
        <span class="bar"></span>
        <label class="label">
            <span class="label-char" style="--index: 0">E</span>
            <span class="label-char" style="--index: 1">n</span>
            <span class="label-char" style="--index: 2">t</span>
            <span class="label-char" style="--index: 3">e</span>
            <span class="label-char" style="--index: 4">r</span>
            <span class="label-char" style="--index: 5">&nbsp;</span>
            <span class="label-char" style="--index: 6">P</span>
            <span class="label-char" style="--index: 7">a</span>
            <span class="label-char" style="--index: 8">s</span>
            <span class="label-char" style="--index: 9">s</span>
            <span class="label-char" style="--index: 10">w</span>
            <span class="label-char" style="--index: 11">o</span>
            <span class="label-char" style="--index: 12">r</span>
            <span class="label-char" style="--index: 13">d</span>
        </label>
    </div>
    <div class="wave-group m-3">
        {{ form.new_password2 }}
        <span class="bar"></span>
        <label class="label">
            <span class="label-char" style="--index: 0">C</span>
            <span class="label-char" style="--index: 1">o</span>
            <span class="label-char" style="--index: 2">n</span>
            <span class="label-char" style="--index: 3">f</span>
            <span class="label-char" style="--index: 4">i</span>
            <span class="label-char" style="--index: 5">r</span>
            <span class="label-char" style="--index: 6">m</span>
            <span class="label-char" style="--index: 7">&nbsp;</span>
            <span class="label-char" style="--index: 8">P</span>
            <span class="label-char" style="--index: 9">a</span>
            <span class="label-char" style="--index: 10">s</span>
            <span class="label-char" style="--index: 11">s</span>
            <span class="label-char" style="--index: 12">w</span>
            <span class="label-char" style="--index: 13">o</span>
            <span class="label-char" style="--index: 14">r</span>
            <span class="label-char" style="--index: 15">d</span>
        </label>
    </div>
    <div class="text-center">
        <button class="btn m-3 custom-btn btn-1" type="submit">Set Password</button>
    </div>
  </form>
{% endblock %}